# MobileNet Ultra Acceleration Config
part=xczu7ev-ffvc1156-2-e

[hls]
flow_target=vitis
clock=10ns
top=mobilenet_block_accel

# Source Files
syn.file=src/mobilenet_block_accel.cpp

# Target Output
package.output.format=ip_catalog
package.output.syn=true
